.inCreator{
    cursor:pointer;
    border: solid 2.95px black;
    width: 9ch; 
    text-align: center; 
    background-color: rgb(167, 109, 206); 
    margin-left: 1%;
    margin-top: 4px;
}
.inDisplay{
    cursor:pointer;
    border: solid 2.95px black;
    width: 9ch; 
    text-align: center; 
    background-color: rgb(167, 109, 206); 
    margin-left: 5%
}
.overlay {
    position: absolute; 
    top: 40px; 
    left: 70px; 
    height: calc(100% - 40px); 
    width: calc(100% - 70px); 
    background-color: rgba(0,0,0,0.5)
}
.overlayText {
    position: absolute;
    top: 45%; 
    width: 100%; 
    text-align: center; 
    color: blue; 
    font-weight: 700;
    font-size: 50px
}